.encabezado-section {
  height: 800px !important;
}

.encabezado-section,
.card-section {
  justify-content: normal !important;
}

h1 {
  font-size: 4.5rem !important;
  background: var(--gradient-header-detail);
  font-weight: 800 !important;
}

.btn-aprender {
  background-color: var(--color-primary);
}

.step-number {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.step-header {
  margin: 0;
  font-weight: 700;
}

.step-text {
  align-content: center;
}

.juga-section {
  background-color: var(--color-primary);
  height: 350px !important;
}

.btn-full {
  margin-top: 32px;
  background-color: var(--color-light-white);
  color: var(--color-primary);
}

.btn-full:hover {
  background-color: var(--color-primary);
  color: var(--color-light-white) !important;
  border: solid var(--color-light-white) 1px;
}
.cards {
  max-width: 1200px;
}

.card {
  padding-bottom: 0;
}

.card-info {
  border: solid #414244 1px;
  border-radius: 6px;
  background-color: var(--color-dark);
}

.card-info-img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.img-card-how-to {
  height: 200px;
}

.img-type {
  height: 195px;
  width: 100%;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 5%;
}

.card-info > .card-body {
  padding: 2rem;
}

.card-info > .card-body > h6 {
  padding: 2rem 0 1rem;
}

.card-body > ul {
  font-size: 14px;
  color: var(--color-muted);
  padding: 0;
  margin: 0;
}

.card-body > ul > :last-child {
  margin: 0;
}

.icon-check {
  color: var(--color-primary);
  font-size: 18px;
}

/* Pantallas hasta medium  */
@media (max-width: 991px) {
}

/* Pantallas hasta small */
@media (max-width: 767px) {
  .encabezado-section {
    padding-inline: 10dvw;
  }

  .type-card-section,
  .instrucciones-section,
  .card-section {
    padding-inline: 5dvw !important;
  }

  .instrucciones-section {
    padding-bottom: 2dvh !important;
  }

  .header-title {
    display: grid;
    justify-items: center;
    text-align: center;
  }

  h1 {
    font-size: 3rem !important;
  }
  .header-title > p {
    text-align: justify;
    font-size: 1rem;
  }
  .btn-outline-custom {
    margin: 8px;
  }
}

/* Pantallas hasta extra small */
@media (max-width: 575px) {
  .cards > div {
    display: grid;
  }

  .img-type {
    max-height: 250px;
  }
}
