.encabezado-section,
.caracteristicas-section,
.instrucciones-section,
.juga-section,
.cartas-section,
.colores-section .card-section {
  height: 500px;
  display: grid;
  align-items: center;
  align-content: center;
  padding: 0 3rem;
  margin-inline: 0;
}

.caracteristicas-section,
.cartas-section,
.instrucciones-section {
  margin-inline: 0;
}

.header-title {
  display: grid;
  align-content: center;
}

.header-title > p {
  font-size: 1.2rem;
  max-width: 75ch;
}

h1 {
  font-size: 4.5em !important;
  background: var(--gradient-header-detail);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 800 !important;
}

.btn-aprender {
  background-color: var(--color-primary);
}

.btnReglas {
  color: var(--color-light);
  border-color: var(--color-light);
}

.textoPaso > p {
  max-width: 75ch;
  font-size: 14px;
  color: var(--color-muted);
  text-align: justify;
}

.instrucciones-section > .row,
.card-section > .row {
  display: flex;
  justify-content: space-around;
  padding-inline: 5dvw;
  margin-bottom: 5dvh;
}

.pasos {
  display: grid;
  justify-items: center;
  text-align: center;
  width: 250px;
}
.paso-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.pasos-header {
  margin: 0;
  font-weight: 700;
}

.textoPaso {
  display: grid;
  align-content: center;
}

.juga-section {
  background-color: var(--color-primary);
  height: 350px;
}
.juga-section > .header-section {
  padding: 0 !important;
}

.btn-full {
  margin-top: 32px;
  background-color: var(--color-light-white);
  color: var(--color-primary);
}

.btn-full:hover {
  background-color: var(--color-primary);
  color: var(--color-light-white) !important;
  border: solid var(--color-light-white) 1px;
}
.cards {
  max-width: 1200px;
}

.card {
  padding-bottom: 0;
}

.card-img {
  height: 195px;
  width: 100%;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 5%;
}

/* Pantallas hasta xl  */
@media (max-width: 1199px) {
  .encabezado-section,
  .caracteristicas-section,
  .instrucciones-section,
  .juga-section {
    height: fit-content;
    padding: 10dvh 5dvw;
  }

  .instrucciones-section {
    padding-inline: 0;
  }

  .instrucciones-section > .row,
  .card-section > .row {
    display: flex;
    justify-content: space-around;
    padding-inline: 5dvw;
    margin-bottom: 0 !important;
  }
}

/* Pantallas hasta medium  */
@media (max-width: 991px) {
}

/* Pantallas hasta small */
@media (max-width: 767px) {
  .encabezado-section {
    padding-inline: 10dvw;
  }

  .cartas-section,
  .instrucciones-section {
    padding-inline: 5dvw !important;
  }

  .instrucciones-section {
    padding-bottom: 2dvh !important;
  }

  .header-title {
    display: grid;
    justify-items: center;
    text-align: center;
  }

  .header-title > h1 {
    font-size: 3rem !important;
  }
  .header-title > p {
    text-align: justify;
  }
  .btn-outline-carrousel {
    margin: 8px;
  }

  .header-title > p {
    font-size: 1rem;
  }
}

/* Pantallas hasta extra small */
@media (max-width: 575px) {
  .cards > div {
    display: grid;
  }

  .card-img {
    max-height: 250px;
  }
}
