.titulo {
  display: grid;
  justify-content: center;
  padding: 6rem 0 !important;
  
}

.formDiv {
  background-color: #2c3036;
  width: 100dvw;
  padding: 3rem 0;
}
.titulo > h6 {
  text-align: center;
  font-weight: 500;
  max-width: 80ch;
  margin-top: 1rem;
   line-height: 2rem;
}
.consultas {
  width: 100%;
  height: 38px;
}
.cajaComentario {
  height: 15em;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.btnSubmit{
    background-color: #06b6d4 !important;
}