.hero-section {
  height: 300px !important;
}

.form-section {
  height: fit-content !important;
  width: 100dvw !important;
  padding: 10dvh !important;
  background-color: var(--color-dark);
  justify-content: normal !important;
}

.header-title {
  padding: 0 !important;
}
.header-title > h1 {
  font-size: 3rem !important ;
  background: var(--gradient-primary);
}

.form-select {
  margin: 0 !important;
}

.form-textarea {
  height: 15rem;
  width: 100%;
  max-width: 1200px;
}

.form-checkbox {
  width: 20px;
  height: 20px;
}

.btn-submit {
  background-color: var(--color-secondary) !important;
}

.form-input {
  max-width: 600px;
}

.banner-section {
  background-image: url(../assets/hoja_personajes.jpg);
  background-position-y: 38%;
}

/* Pantallas hasta small */
@media (max-width: 575px) {
  .banner-section {
    background-position-x: 10%;
  }
}
