.colores-section,
.type-card-section {
  justify-content: space-around !important;
}

.encabezado-section {
  background-image: var(--gradient-magic), url(../assets/magic/magic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.colores-section,
.card-section {
  background-color: var(--color-dark);
}
.encabezado-section > .row {
  justify-content: center;
}

.icon-varita {
  background-color: var(--color-primary);
}
.icon-mazo {
  background-color: var(--color-secondary);
}
.icon-multiplayer {
  background-color: var(--color-tertiary);
}

.step-1,
.part,
.img-partes > div {
  background-color: var(--color-primary);
}
.step-2 {
  background-color: var(--color-secondary);
}
.step-3 {
  background-color: var(--color-tertiary);
}
.step-4 {
  background-color: var(--color-accent);
}

.banner-magic {
  background-image: var(--gradient-banner), url(../assets/MTG-cards-in-hand.jpg);
}

/* type-card-section */
.card-criature {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_criatura.jpg);
}

.card-artifact {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_artefacto.jpg);
}

.card-land {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_tierra.jpg);
}

.card-planeswalker {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_planeswalker.png);
}
.card-enchanment {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_encanta.jpg);
}
.card-kindred {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_estirpe.jpg);
}
.card-curse {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_conjuro.png);
}
.card-instant {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_instantaneo.jpg);
}

/* color-section */
.img-color {
  width: 100%;
}
.container-color-type {
  padding: 1rem 0;
  font-size: 14px;
}

.container-color-type:last-child {
  padding-bottom: 0;
}

.container-color-type:first-child {
  padding-top: 0;
}
.container-color-type:not(:last-child) {
  border-bottom: 1px solid var(--color-muted);
}

.colores-section > .row > .col-iz {
  padding: 0 2rem 0 0;
}

.colores-section > .row > .col-der {
  padding: 0 0 0 2rem;
}

.icon-color > img {
  background-color: var(--color-light);
  border-radius: 50%;
  max-width: 80px;
}
.colores-section > .row > .col-iz,
.icon-color {
  align-content: center;
  justify-content: center;
  display: grid;
}
.colores-section > .row > .col-der > div > div > h6 {
  padding-left: 0.5 rem;
}

.container-color-type > div > p {
  text-align: justify;
}
.color-caracteristica,
.color-caracteristica > * {
  padding: 0;
  margin-bottom: 0;
}

/* card-section */
.card-part-img-container {
  justify-content: center;
  display: flex;
  padding-left: 3rem;
  align-items: center;
}
.card-part-img-container > .card-info {
  background-color: var(--color-dark-secondary);
}

.partes-img {
  height: fit-content;
  background-position: center;
  align-content: space-between;
  display: grid;
  position: relative;
}

.container-partes-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.img-partes {
  display: flex;
  justify-content: space-between;
}

.card-example {
  width: 100%;
}

.container-partes-img > :nth-child(even) > :nth-child(even) {
  margin-top: 4rem;
}

.container-partes-img > :nth-child(even) {
  margin-top: 10rem;
}

.number-part {
  border-radius: 50%;
  color: var(--color-light);
  max-height: 48px;
  max-width: 48px;
  aspect-ratio: 1/1;
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 90%;
  cursor: pointer;
  transition: 0.3 ease;
}

.img-partes > .col > h5 {
  margin: 0;
  font-weight: 700 !important;
}

.col-vacia {
  display: none !important  ;
}

.parte {
  align-items: center;
  margin-bottom: 16px;
}

.container-part {
  padding-right: 3rem;
  align-content: center;
}

.container-part > .row > div {
  margin-top: 0;
}

.part-card {
  max-width: 600px;
}

.part-card > i {
  text-align: right;
  cursor: pointer;
  transition: 0.3 ease;
}

.card-part-text > p {
  max-width: 60ch;
  font-size: 14px;
  color: var(--color-muted);
  text-align: justify;
}

.card-description {
  display: none;
  transition: all 0.3s ease;
}

.resaltado {
  border: 4px solid transparent;
  border-image: var(--gradient-parrafo) 1;
  transition: border 0.1s ease;
  padding: 1rem 0;
}

.d-none {
  display: block !important;
}

.paso:not(:last-child) {
  margin-bottom: 1rem;
}

.instrucciones-section>.row>:first-child{
  align-content: center;
}



/* Pantallas hasta medium  */
@media (max-width: 991px) {
  .img-color {
    display: none;
  }
  .container-part {
    padding-right: 0;
  }
}

.card-part-img-container {
  padding-left: 0;
}
/* Pantallas hasta small */
@media (max-width: 767px) {
  .instrucciones-section > .row > div > .paso {
    justify-content: center;
  }

  .card-section {
    padding: 5dvh 5dvw !important;
  }

  .colores-section {
    padding-inline: 5dvw !important;
  }
  .instrucciones-section > .row > div {
    margin-bottom: 32px;
  }

  .card-info > .card-body {
    height: 100%;
    padding: 2rem 2rem 1rem;
  }

  .col-iz {
    display: none;
  }

  /* aplica a todos los hijos */
  .color > :not(:last-child) {
    padding: 0 0 1rem;
  }

  .color > :first-child {
    padding-top: 0;
  }
  .color > :last-child {
    margin: 0;
  }

  .color > div > p,
  .color > div > ul > p {
    text-align: center !important;
    padding-left: 0 !important;
  }

  .partes-img {
    max-width: 300px;
  }

  .container-partes-img > :nth-child(2n) {
    margin-top: 6rem;
  }
  .part-card {
    justify-content: space-between;
  }

  .card-example {
    max-height: 300px;
  }

  .parte {
    justify-content: center;
  }

  .card-part-img-container {
    padding: 0;
  }
  .container-part {
    padding: 2rem 1.5rem 0;
  }

  .card-part-img-container > .card-info > .card-body {
    padding: 2rem;
  }

  .paso > * {
    margin-top: 0;
  }

  .paso:first-child {
    margin-top: 1rem;
  }

  .paso > .card-part-text,
  .container-color-type > .step-text {
    margin-top: 1rem;
    text-align: center !important;
  }

  .parte{
    display: none;
  }
  
  .icon-descripcion{
    display: none !important;
  }

  .card-section{
    padding-bottom: 5dvh !important;
  }
}

/* Pantallas hasta extra small */
@media (max-width: 575px) {
}
