.colores-section,
.cartas-section {
  height: fit-content;
  padding: 7dvh;
  justify-content: space-around;
}

.encabezado-section {
  height: 800px;
  background-image: var(--gradient-magic), url(../assets/magic/magic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  text-align: center;
}
.encabezado-section,
.colores-section,
.card-section {
  background-color: var(--color-dark);
}
.encabezado-section > .row {
  justify-content: center;
}

.instrucciones-section,
.card-section {
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 7dvh;
}

.varita {
  background-color: var(--color-primary);
}
.mazo {
  background-color: var(--color-secondary);
}
.multiplayer {
  background-color: var(--color-tertiary);
}

.primero,
.part {
  background-color: var(--color-primary);
}
.segundo {
  background-color: var(--color-secondary);
}
.tercero {
  background-color: var(--color-tertiary);
}
.cuarto {
  background-color: var(--color-accent);
}

.banner-magic {
  background-image: var(--gradient-banner), url(../assets/MTG-cards-in-hand.jpg);
}

.card-criature {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_criatura.jpg);
}

.card-artifact {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_artefacto.jpg);
}

.card-land {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_tierra.jpg);
}

.card-planeswalker {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_planeswalker.png);
}
.card-enchanment {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_encanta.jpg);
}
.card-kindred {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_estirpe.jpg);
}
.card-curse {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_conjuro.png);
}
.card-instant {
  background-image: var(--gradient-banner),
    url(../assets/magic/magic_instantaneo.jpg);
}

.juga-section > .header-title > p {
  text-align: center;
}

.card-info {
  border: solid #414244 1px;
  border-radius: 6px;
  background-color: var(--color-dark);
}

.card-info-img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.card-img {
  height: 200px;
}

.card-info > .card-body {
  height: 100%;
  padding: 2rem;
}

.card-info > .card-body > h6 {
  padding: 2rem 0 1rem;
}

.card-body {
  padding: 16px 0;
}

.card-body > ul {
  font-size: 14px;
  color: var(--color-muted);
  padding: 0;
  margin: 0;
}

.icon-check {
  color: var(--color-primary);
  font-size: 18px;
}
.instrucciones-section > .row > div,
.card.section > .row > div {
  align-content: center;
}

/* section colores */
.colores-section > .row {
  max-width: 1200px;
  width: 100%;
}

.color-img {
  width: 100%;
}
.color {
  padding: 1rem 0;
}

.color:last-child {
  padding-bottom: 0;
}

.color:first-child {
  padding-top: 0;
}
.color:not(:last-child) {
  border-bottom: 1px solid var(--color-muted);
}

.colores-section > .row > .col-iz {
  padding: 0 2rem 0 0;
}

.colores-section > .row > .col-der {
  padding: 0 0 0 2rem;
}

.icon-color > img {
  background-color: var(--color-light);
  border-radius: 50%;
  max-width: 80px;
}
.colores-section > .row > .col-der > div > div,
.colores-section > .row > .col-iz {
  align-content: center;
}
.colores-section > .row > .col-der > div > div > h6 {
  margin: 0 2rem;
}
.colores-section > .row > .col-der > div > div > p,
.colores-section > .row > .col-der > div > div > ul > p {
  font-size: 14px;
  margin-bottom: 0.5rem;
  text-align: start;
  padding-left: 3rem;
}

.colores-section > .row > .col-der > div > div > ul {
  padding: 0;
}

.card-part-img-container > .card-info {
  width: fit-content;
  height: fit-content;
}
/* .card-part-img {
  max-width: 450px;
  height: 100%;
} */

.card-part-img-container {
  justify-content: center;
  display: flex;
  padding-left: 3rem;
  align-items: center;
}
.card-part-img-container > .card-info{
  background-color: var(--color-dark-secondary);
}

.partes {
  padding-right: 3rem;
}

.card-description {
  display: none;
  transition: all 0.3s ease;
}

.d-none {
  display: block !important;
}


/* Pantallas hasta small */
@media (max-width: 767px) {

  .instrucciones-section > .row > div > .paso {
    justify-content: center;
  }

  .colores-section {
    padding-inline: 5dvw !important;
  }
  .instrucciones-section > .row > div {
    margin-bottom: 32px;
  }

  .header-title > p {
    text-align: center;
  }

  .card-info > .card-body {
    height: 100%;
    padding: 2rem 2rem 0;
  }

  .col-iz {
    display: none;
  }

  /* aplica a todos los hijos */
  .color > :not(:last-child) {
    padding: 0 0 1rem;
  }

  .color > :first-child {
    padding-top: 0;
  }
  .color > :last-child {
    margin: 0;
  }

  .color > div > p,
  .color > div > ul > p {
    text-align: center !important;
    padding-left: 0 !important;
  }
}
