:root {
  --color-primary: #695ca5;
  --color-secondary: #06b6d4;
  --color-tertiary: #845ca5;
  --color-accent: #df3f40;
  --color-light: #dbdadf;
  --color-dark: #2c3036;
  --color-dark-secondary: #202529;
  --color-muted: #b3b3b3;
  --color-light-white: #ffffff;
  --color-primary-translucent: #695ca566;
  --color-primary-translucent-2: #695ca5e6;
  --color-secondary-translucent: #06b6d466;
  --color-secondary-translucent-2: #06b6d433;
  --color-dark-translucent: #2c303666;
  --color-dark-translucent-2: #2c303633;

  /* Gradientes */
  --gradient-primary: linear-gradient(
    135deg,
    var(--color-secondary),
    var(--color-light)
  );
  --gradient-header: linear-gradient(
    to left,
    var(--color-secondary),
    var(--color-light-white)
  );
  --gradient-header-detail: linear-gradient(
    215deg,
    rgba(76, 29, 149, 0.9),
    var(--color-light-white)
  );
  --gradient-magic: linear-gradient(
    to bottom right,
    var(--color-primary-translucent),
    var(--color-secondary-translucent)
  );
  --gradient-carrousel: linear-gradient(
    to bottom,
    var(--color-primary-translucent),
    var(--color-dark-translucent)
  );
  --gradient-banner: linear-gradient(
    to bottom right,
    var(--color-dark-translucent-2),
    var(--color-secondary-translucent-2)
  );
}

body {
  font-family: roboto !important;
  font-size: 16px !important;
  max-width: 99dvw !important;
}
.container-fluid {
  padding: 0 !important;
}

h1 {
  font-weight: 700 !important;
  background: var(--gradient-header);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

nav,
footer {
  font-weight: 500;
  font-size: 16px !important;
  background-color: var(--color-dark) !important;
  color: var(--color-muted) !important;
  padding-inline: 3rem !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
}
.site-name {
  margin: 8px;
  color: var(--color-muted) !important;
}

a > i {
  color: var(--color-muted) !important;
}

.carousel-item {
  height: 800px;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
}

.carousel-texto {
  display: grid;
  justify-content: center;
}
.carousel-texto > h1,
.carousel-texto > h2 {
  font-size: 5rem;
  margin-bottom: 32px;
}

.carousel-texto > h2 {
  font-weight: 700 !important;
  background: var(--gradient-primary);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.carousel-texto > h4 {
  max-width: 70ch;
  color: var(--color-light-white);
  line-height: 2.5rem;
  margin-bottom: 40px;
}
.carrousel-section {
  height: 800px;
  display: grid;
  align-items: center;
  align-content: center;
  margin-inline: 0;
}
.carousel-item-1 {
  background-image: var(--gradient-carrousel),
    url(../assets/modular-game-table-rustic-walnut-hex-game-cover.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
}

.carousel-item-2 {
  background-image: var(--gradient-carrousel),
    url(../assets/magic-the-gathering-lord-of-the-rings-tales.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-item-3 {
  background-image: var(--gradient-carrousel),
    url(../assets/orcs_and_ogre_minis.jpg);
  background-size: cover;
  background-position: center;
}

.populares-section,
.caracteristicas-section,
.listo-section, .colores-section {
  height: 550px;
  display: grid;
  align-items: center;
  align-content: center;
  padding: 0 3rem;
  margin-inline: 0;
  justify-content: center;
  text-align: center;
}

.listo-section {
  height: 350px;
  background-color: var(--color-accent);
}
.populares-section {
  background-color: var(--color-dark);
}

.listo-section > .header-section {
  padding-bottom: 0 !important;
}

.header-section {
  justify-items: center;
  padding-bottom: 2rem;
}

.card-body > p,
.card-body > h5,
.card-body > h6 {
  text-align: justify;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  max-width: 400px;
  height: 100%;
  background-color: #2c3036;
  padding: 16px;
}

.card-text {
  max-width: 40ch;
  font-size: 14px;
}

.icon-card {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.linkCard {
  text-decoration: none;
}
.card-dnd {
  background-image: url(../assets/dnd_blue_dragons.png);
  background-position-y: 80%;
}
.card-magic {
  background-image: url(../assets/magic_mystical.png);
  background-position-y: 30%;
}
.card-pathfinder {
  background-image: url(../assets/pathfinder_party.png);
  background-position-y: 80%;
}

.img-card {
  background-size: cover;
  overflow: hidden;
  background-repeat: no;
  height: 200px;
}

.card-comunidad {
  background-color: var(--color-accent);
}

.card-contenido {
  background-color: var(--color-secondary);
}

.card-tools {
  background-color: var(--color-primary);
}

.btn-games {
  margin-top: 32px;
  background-color: var(--color-light-white);
  color: var(--color-accent);
}

.btn-games:hover {
  background-color: var(--color-accent);
  color: var(--color-light-white);
  border: solid var(--color-light-white) 1px;
}

h2 {
  color: var(--color-light-white);
}

.btn-outline-carrousel {
  margin-right: 2rem;
  border: solid var(--color-light-white) 1px;
}

.links-footer {
  display: grid;
  justify-content: end;
}
footer {
  padding-inline: 5dvh !important;
}

.banner {
  height: 150px;
}

.card-title {
  font-weight: 700 !important;
}

/* Pantallas hasta medium  */
@media (max-width: 991px) {
  .carousel-texto {
    padding: 0 10dvw;
  }

  .populares-section,
  .caracteristicas-section,
  .listo-section {
    height: fit-content;
    padding: 10dvh 5dvw;
  }

  h2 {
    font-size: 30px;
  }
  .card {
    display: flex;
    justify-content: center;
    max-width: 90dvw;
    background-color: var(--color-dark);
  }
  .card-text {
    max-width: fit-content;
  }
}

/* Pantallas hasta small */
@media (max-width: 767px) {
  .relleno {
    display: none;
  }

  .carousel-texto > h1,
  .carousel-texto > h2 {
    font-size: 4rem;
    margin-bottom: 32px;
  }

  footer {
    padding-inline: 2dvh !important;
  }
}
