.encabezado-section {
  padding: 2rem 3rem 1.5rem;
}
.banner-section {
  background-image: url(../assets/banner\ personajes.png);
  background-position-y: 27%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

p {
  color: rgb(156 163 175);
}

.sedes-card {
  max-width: none;
  margin: 0 3rem 0 0;
}

h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
  margin: 0 !important;
}
h6 {
  font-size: 14px;
  color: var(--bs-secondary-color) !important;
}


.info-sede > .card-title> h4,
.crear-sede > .card-title> h4 {
  font-size: 1.5rem;
}



.card-title {
  margin: 0.5rem 0;

}

.info-sede > .card-title, .crear-sede > .card-title {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin: 0 !important;
}


a {
  text-decoration: none;
}

.contenido-section {
  margin-bottom: 2rem;
  width: 99dvw;
  justify-content: center;
}
.sede-card {
  height: fit-content;
}

.nombre-sede {
  font-weight: 700;
}

/* adfasfdafadf */

.sedes-card {
  display: grid;
  justify-content: stretch;
  width: 100%;
  background-color: #2c3036;
  justify-items: center;
  max-width: none;
  padding: 2rem;
  margin-left: 1rem;
}



.card-body {
  border-radius: 8px;
  background-color: #212529;
}

.sede-card:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.sede-card.selected {
  border: 2px solid #0d6efd;
  transform: scale(1.02);
  z-index: 2;
}

.sede-card.dimmed {
  opacity: 0.35;
}

.sede-card.selected {
  border: 2px solid #0d6efd;
  transform: scale(1.03);
  opacity: 1 !important;
}

.card {
  display: flex;
  justify-content: center;
  max-width: none !important;
  max-height: none !important;
  background-color: #2c3036;
}

.info-sede, .crear-sede {
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  margin-bottom: 0;
  margin-left: 1rem;
  height: 0;

  transition:
    max-height 0.35s ease,
    opacity 0.25s ease,
    transform 0.25s ease,
    margin-bottom 0.25s ease;
 
}

.info-sede.visible, .crear-sede.visible {
  max-height: 300px; /* un poco más grande que el form */
  opacity: 1;
  transform: translateY(0);
  margin-bottom: 20px;
  height: fit-content;
  padding: 2rem 1rem;
}

.col-btn button {
  font-size: 14px;

}

.col-btn{
  align-content: end;
  padding-bottom: 0.2rem;
}


.detalle-section {
  display: flex;
  flex-direction: column;

}


.datos-sede > .row, .nueva-sede > .row {
  display: flex;
  align-items: center;
}

.sede-card {
  position: relative;
}

.sede-actions {
  position: absolute;
  top: 10px;
  right: 12px;
  display: grid;
  align-content: center;
  height: 80%;
  gap: 10px;

  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.sede-card.selected .sede-actions {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.card-info {
  padding-right: 0;
}

.btn-editar,
.btn-eliminar {
  color: #3f4349;
}

.btn-nueva-sede{
  font-size: 14px;
}
.sedes-card>.row{
  display: flex;
  justify-content: space-between;
}
.card-title-btn{
  justify-content: end;
  display: flex;
  height: 34px;
}


.filter-icon{
  font-size: 14px
  ;
}

.filtros-sedes {
  display: none;
}

.filtros-sedes.visible {
  display: flex;
}

.filtros-sedes *{
font-size: 14px;
}

.form-input{
  max-width: 50ch;
  min-width: 25ch;
  margin-bottom: 0.5rem;
}