form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.torneos-card {
  display: grid;
  justify-content: stretch;
  width: 100%;
  background-color: #2c3036;
  justify-items: center;
  max-width: none;
  padding: 2rem;
}

.torneos-container {
  width: 100%;
  padding-inline: 2rem;
}

.card-body {
border-radius: 8px;
  background-color: #212529;
}

.card-datos {
  background-color: #2c3036;
  width: 100%;
  max-width: none;
  padding: 2rem;
  display: grid;
  height: fit-content;
  justify-content: stretch;
}

.card-body > h4 {
  font-weight: 600;
}
.card-body > h5 {
  font-weight: 400;
  color: rgb(163, 163, 163);
}
.card-body > h6 {
  font-weight: 300;
  font-size: 14px;
  color: rgb(163, 163, 163);
}

.sede {
  font-weight: 500;
}

.datos-card {
  background-color: #2c3036;
}

.col-cards,
.col-datos {
  width: 100%;
  max-width: 600px;
}

.col-datos {
  display: flex;
  justify-content: stretch;
  position: sticky;
  top: 90px; /* altura del navbar */
  align-self: flex-start;
}

.form-section {
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: inherit;
  width: 100dvw;
  padding: 10dvh;
}

.torneo-card {
  background-color: #212529;
  cursor: pointer;
  transition: all 0.3s ease;
  height: auto !important;
  max-width: none !important;
  
}

.torneo-card:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.torneo-card.selected {
  border: 2px solid #0d6efd;
  transform: scale(1.02);
  z-index: 2;
}

.torneo-card.dimmed {
  opacity: 0.35;
}

.torneo-card.selected {
  border: 2px solid #0d6efd;
  transform: scale(1.03);
  opacity: 1 !important;
}
